@import "tailwindcss";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@theme {
  --color-primary: oklch(0.546 0.245 262.881); /* #purple - 800 */
  --color-secondary: oklch(0.437 0.078 188.216); /* #pink - 500 */
  --color-tertiary: oklch(0.424 0.199 265.638); /* #purple - 500 */
}
